<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--header-->
<head th:fragment="head" id="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PA</title>

    <!--css-->
    <link rel="stylesheet" th:href="@{/weui-plus/css/weui.css}">
    <link rel="stylesheet" th:href="@{/weui-plus/css/weuix.css}">
    <link rel="stylesheet" th:href="@{/weixin.css}">

    <!--js-->
    <script type="text/javascript" th:src="@{/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/weui-plus/js/zepto.min.js}"></script>
    <script type="text/javascript" th:src="@{/weui-plus/js/zepto.weui.js}"></script>
    <script type="text/javascript" th:src="@{/weixin.js}"></script>
</head>


</html>